@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row" style="padding:20px">
        <div class="col-md-12">
            <table class="table table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Postal
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Company
                        </th>
                        <th>
                            Account
                        </th>
                        <th>
                            CreditCard
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Postal
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Company
                        </th>
                        <th>
                            Account
                        </th>
                        <th>
                            CreditCard
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<link href="////cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
<lik href="https://cdn.datatables.net/searchpanes/1.2.2/css/searchPanes.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" />
@section Scripts{
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/1.2.2/js/dataTables.searchPanes.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                ajax: {
                    url: "home/LoadData",
                    type: "POST",
                },
                columns: [
                    { data: "Name" },
                    { data: "City" },
                    { data: "Postal" },
                    { data: "Email" },
                    { data: "Company" },
                    { data: "Account" },
                    {data: "CreditCard"}
                ], 
                "order": [0, "asc"],
                "serverSide": true,
                "processing": true,
                "language": {
                    "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:red;"></i><span class="sr-only">Loading...</span> '
                }
            });
        });
    </script>
} 